# .env
# Adzuna Job Search API (Get free keys at: https://developer.adzuna.com/)
ADZUNA_APP_ID=""
ADZUNA_APP_KEY=""

# Google Gemini API
GOOGLE_API_KEY=""

# RapidAPI - JSearch (Google Jobs) & Indeed jobs
RAPIDAPI_KEY=""

SERPAPI_KEY=""


